body {
    margin: 0;
    padding: 0;
}
canvas{
    display: block;
    margin: 0 auto;
}

#data{
    display: block;
    margin: auto;
    margin-top: 2.5%;
    width: 75%;
    height: 3%;
    /*border-radius: 5px;*/
    /*background-color:#d0f4f7;*/
    color:#266a7f;
    padding:1%;
    border: 2px solid#c0e8ec;
}

::placeholder{
    color:#c0e8ec
}

#submit{
    display:block;
    margin:auto;
    background-color: #c0e8ec;
    color: #266a7f;
    width: 75%;
    /*border-radius: 5px;*/
    border: none;
}

.hidden{
    display: none; /* Hidden by default */
}

#start button{
    display:block;
    margin: 5 auto;
    width: 75%;
    color:white;
    padding:5;
}

#lvl1{
    border-color:#35baf3;
    background-color:#35baf3;
}
#lvl2{
    border-color: #88e060;
    background-color: #88e060;
}
#lvl3{
    border-color: #FFD948;
    background-color: #FFD948;
}
.modal h1{
    font-size:24;
}
/* The Modal (background) */
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

}

/* Modal Content */
.modal-content {
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    text-align: center;
    position: relative;
    background-color: #4bcadba6;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 20%;
    min-height:5%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
